@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    display: block;
    width: 901px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    margin-top: 2em;
    
}
#repeat {
    background-repeat: repeat-x repeat-y;
    background-image: url("img/hr-img.png");
    width:901px;
    margin-top: 20px;
}

ul {
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;
}

#icon {
    float: right;
    padding-top: .5em;
}

header > ul {
    vertical-align: top;
}
header > ul > li > h1 {
    font-family: 'Yellowtail', cursive;
    font-size:40px;
    line-height: 36px;
}

header > ul > li > h6 {
font-family: 'Abel', sans-serif;
color: grey;
font-weight: 200;
text-indent: .5em;
font-size: 12px;
}

main {
    margin-top: 3em;
}

#title > li > h1 {
    font-family: 'Abel', sans-serif;
    font-size: 38px;
    font-weight:bolder;
    text-shadow: 0px 1px, 1px 0px, 1px 1px black;
}

#title > li > h5 {
    font-family: 'Abel', sans-serif;
    color: grey;
    font-size: 13px;

}
#print {
    padding-top: 50px;
    float: right;
    font-size: 13px;
    font-family: 'Abel', sans-serif;
    color: grey;
}

#strikethrough {
    text-decoration: line-through;
}

main > img {
    display: block;
    margin: 2rem auto;
}
main > p {
    text-indent: 20px;
    line-height: 24px;
    color: gray;
    font-size: 19.5px;
}
#ingredients {
    width:100%;
    columns: 2;
    padding-left: 4em;
    padding-right: 3em;
    padding-top: 2em;
    margin-top: 1.5em;
    background-image:url("img/list-bg.png"); 
    height: 19rem;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 1.6em;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(105, 104, 104);
    margin-bottom: 1em;
}

#ingredients > li {
    display: block;
}

main > div > #list1 > ul {
    list-style: none;
    margin-top: 5rem;
}
main > div > #list2 > ul {
    list-style: none;
    line-height: 1.5rem;
    margin-top: 5rem;
}

#pre-footer {
    margin-top: 2em;
    color: gray;
}

#pre-footer > ul > li:nth-child(2) {
 vertical-align: top;
}

#pre-footer > ul > li > img {
    margin-right: .7em;
}

#pre-footer > ul > li > h3 {
    font-size: 22px;
}

#pre-footer > ul > li > p {
    font-size: 19px;
    width: 600px;
}

#button {
    float:right;
}

button {
    background-color: #D8613C;
    padding: 15px 20px;
    border: none;
    color:white;
}

h3 {
    margin-bottom: 10px;
}

footer {
    margin-top:3em;
    text-align: center;
    border-top: rgb(212, 210, 210) solid .5px;
    padding-top: 3em;
    color:rgb(176, 174, 174);
}

#footer-logo img {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border:white solid 10px;
    margin-top: 3em;
}
